//start global varibales
$main-color: #ffed00;
//end global varibales
.about-us {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $main-color;
    mask: url("../assets/Sprinkle.svg") no-repeat center;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  p,
  h1 {
    position: relative;
    z-index: 3;
  }
}
