//start global varibales
$light: #f5f5fa;
$dark: #1f1f29;
$main-color: #ffed00;
//end global varibales
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  .left {
    background-image: url("../assets/final-touch-2.webp");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 80px;
    @media screen and (max-width: 768px) {
      background-position: center;
    }
  }
  .middle {
    nav {
      background-color: rgba(245, 245, 250, 0.6);
      color: $dark;
      backdrop-filter: blur(15px);
      padding: 1rem;
      border-radius: 20px;
      p {
        user-select: none;
        cursor: pointer;
      }
    }
  }
}
