//start global varibales
$light: #f5f5fa;
$dark: #1f1f29;
$main-color: #ffed00;
//end global varibales
.service-page {
  .service-heading {
    p {
      color: $main-color;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $main-color;
    }
  }
  .service-gallery {
    img {
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
