//start global varibales
$light: #f5f5fa;
$dark: #1f1f29;
$main-color: #ffed00;
//end global varibales
// start global components
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Clash Display", sans-serif;
  overflow-x: hidden;
  color: $light;
}
@font-face {
  font-family: BellinaFlorence;
  src: url("./fonts/BellinaFlorenceDEMO!-DEMO!.ttf");
}
.home-arabic {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  h1,
  h2 {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 700;
  }
  header {
    .left {
      background-position: right;
    }
  }
}
.special {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
a,
img,
video,
button,
h1,
h2 {
  user-select: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}
h1,
h2 {
  font-family: BellinaFlorence;
}
::-webkit-scrollbar {
  width: 0;
}
::selection {
  background-color: $main-color;
  color: $light;
}
// loader
.loader {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20%;
    left: -20%;
    transform: rotate(26deg);
    background-color: $main-color;
    mask: url("./assets/Doodle.svg") no-repeat center;
    @media screen and (max-width: 768px) {
      width: 50%;
      top: -25%;
      left: 25%;
      transform: rotate(80deg);
    }
  }
}
// dark
.dark {
  header {
    .left {
      background-image: url("./assets/logo-light.webp");
    }
    .middle {
      nav {
        background-color: rgba(31, 31, 41, 0.6);
      }
    }
  }
  .landing-page {
    .content {
      mix-blend-mode: multiply !important;
    }
  }
  .services {
    .content {
      .left {
        a {
          color: $dark;
        }
      }
    }
  }
}
// end global components
